RewriteEngine On

# If the request is for an actual file or directory, don't rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to index.php inside /src
RewriteRule ^(.*)$ src/index.php [QSA,L]
